body {
    font-family: 'Open-Sans', sans-serif;
    color: #fff;
    /* padding: 1em; */
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header, footer {
    flex: 0 0 63px;
    max-height: 63px;            
    background-color:#203c52;
}

ng-view,
dashboard,
dashboard-webtype,
main {
    display: flex;
    flex: auto;
    flex-direction: column;
}

main {
    padding: 0 1% 0 1%;
    background-color:#192834;
}

main div.content {
    flex-grow: 1;
    background-color: #235279;
    max-width: 1586px;
    padding-top: 100px;
}

section {
    display: flex;
    justify-content: center;
}

.section-type {
    text-align: center;
    margin-right: 20px;
    height: 271px;
    width: 136px;
}

.section-type.clear-web{
    background: center 50px url('/images/clear_web.gif') no-repeat;
}

.section-type.dark-web{
    background: center 50px url('/images/dark_web.gif') no-repeat ;
}

.section-type .heading {
    font-size:19px;
    color:#fff;
    text-transform:uppercase;
    line-height:46px;
    margin:0;
}

div.panel {
    flex: auto;
    display: flex;
    margin: 8px;
    min-height: 282px;
    flex-direction: column;
    background-color:#214a6b;
}

div.panel-heading {
    padding:10px 10px;
    background-color: #243C53;
    font-size: 13px;
}

div.panel:nth-child(2) {
    max-width: 526px;
}
div.panel:nth-child(3) {
    max-width: 458px;
}        
div.panel:nth-child(4) {
    max-width: 322px;
}        

.type-entry {
    flex:0 0 50%;
    border-bottom:1px solid #000;
    padding-top:10px;
    min-height:71px;
}
.type-entry.last-entry {
    border:0;
}
.type-entry .icon {
    margin-left:10px;
    float:left;
    width:40px;
    height:41px;
    border:1px solid #fff;
}
.type-entry .details {
    margin: 5px 0 0 20px;
    background-repeat: no-repeat;
    padding-left: 50px;
    text-transform: uppercase;
}

.type-entry .details p:nth-child(1) {
    font-size: 19px;
    margin: 0;
}
.type-entry .details p:nth-child(2) {
    font-size: 12px;
    margin: 15px 0 0 0;
    width: 80px;
}

.panel-body.types {   
    display: flex;
    flex-flow: row wrap;
}

.panel-body.severities {  
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    justify-content: center;
}

.panel-body.severities div.chart {
    flex: 0 0 100%;
    /*min-height:150px;*/
}

.panel-body.severities div {
    flex: 1 1 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.panel-body.severities .label {
    font-size: 12px;
}

.panel-body.severities .value {
    font-size: 15px;
}

.panel-nody.sources {
    display:flex;
}

.source-entry {
    padding: 19px 15px 10px 15px;
}

.source-entry p {
    text-transform: uppercase;
    color: #fff;
    font-size:12px;
    line-height:12px;
}

.source-entry p.label {
    line-height: 14px;
    margin:0;
}

.source-entry p.source-value {
    float: right;
    margin: 0;        
}

#progressbar {
    background-color: #1c374a;
    border-radius: 13px; /* (height of inner div) / 2 + padding */
    float: left;
    width: 88%;
    margin-top: 5px;
}
    
#progressbar > div {
    background-color: #8bb5d5;
    width: 40%; /* Adjust with JavaScript */
    height: 6px;
    border-radius: 10px;
}

/* icons */
.attack-indication {
    background: url("/images/attack_indication_icon.gif") no-repeat;
}
.data-leakage {
    background: url("/images/data_leakage_icon.gif") no-repeat;
}
.phishing {
    background: url("/images/phishing_icon.gif") no-repeat;
}
.brand-security {
    background: url("/images/brand_security_icon.gif") no-repeat;
}    
.exploitable-data {
    background: url("/images/exploitable_data_icon.gif") no-repeat;
}  
.vip {
    background: url("/images/vip_icon.gif") no-repeat;
}   