/* 
    html5doctor.com Reset Stylesheet
    v1.6.1
    Last Updated: 2010-09-17
    Author: Richard Clark - http://richclarkdesign.com 
    Twitter: @rich_clark
    */

    html, body, div, span, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    abbr, address, cite, code,
    del, dfn, em, img, ins, kbd, q, samp,
    small, strong, sub, sup, var,
    b, i,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section, summary,
    time, mark, audio, video {
        margin:0;
        padding:0;
        border:0;
        outline:0;
        font-size:100%;
        vertical-align:baseline;
        background:transparent;
    }

    body {
        line-height:1;
    }

    html, body {
        font-family: "Open Sans", sans-serif; 
    }

    article,aside,details,figcaption,figure,
    footer,header,hgroup,menu,nav,section { 
        display:block;
    }

    nav ul {
        list-style:none;
    }

    blockquote, q {
        quotes:none;
    }

    blockquote:before, blockquote:after,
    q:before, q:after {
        content:'';
        content:none;
    }

    a {
        margin:0;
        padding:0;
        font-size:100%;
        vertical-align:baseline;
        background:transparent;
    }

    /* change colours to suit your needs */
    ins {
        background-color:#ff9;
        color:#000;
        text-decoration:none;
    }

    /* change colours to suit your needs */
    mark {
        background-color:#ff9;
        color:#000; 
        font-style:italic;
        font-weight:bold;
    }

    del {
        text-decoration: line-through;
    }

    abbr[title], dfn[title] {
        border-bottom:1px dotted;
        cursor:help;
    }

    table {
        border-collapse:collapse;
        border-spacing:0;
    }

    /* change border colour to suit your needs */
    hr {
        display:block;
        height:1px;
        border:0;   
        border-top:1px solid #cccccc;
        margin:1em 0;
        padding:0;
    }

    input, select {
        vertical-align:middle;
    }


    /* ==== GRID SYSTEM ==== */

    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .row:before,
    .row:after {
        content: " ";
        display: table;
    }

    .row:after {
        clear: both;
    }

    .row [class^="col"] {
        float: left;
        margin: 0 8px;
        min-height: 0.125rem;
    }

    /*-- end grid system --*/

    .panel {
        background-color:#214a6b;
        min-height: 282px;
    }

    .panel.types {
        width: 526px;
    }

    .panel.severities {
        width: 458px;
    }
    
    .panel.sources {
        width: 322px;
    }

    .panel .heading {
        background-color: #243C53;
    }

    .heading p.title {
        line-height: 35px;
        font-size: 13px;
        color: #fff;
        padding-left: 20px;
        text-transform: uppercase;
    }

    .type-entry {
        float:left;
        padding-top:20px;
        height:61px;
        border-bottom: 1px solid #1e3b53;
        width:50%;
    }

    .type-entry img {
        float:left;
        margin-left:20px
    }

    .type-entry p {
        margin-left:70px;
        text-transform: uppercase;
        color:#fff;
        width:80px;
    }

    .type-entry p:nth-child(1n+1) {
        font-size:19px;
    }

    .type-entry p:nth-child(2n+1) {
        margin-top:8px;
        font-size:12px;
        line-height: 16px;
    }

    .type-entry.last-entry {
        border:0;
    }

    #progressbar {
        background-color: #1c374a;
        border-radius: 13px; /* (height of inner div) / 2 + padding */
        float:left;
        width:88%;
        margin-top:5px;
    }
        
    #progressbar > div {
        background-color: #8bb5d5;
        width: 40%; /* Adjust with JavaScript */
        height: 6px;
        border-radius: 10px;
    }

    .source-entry {
        padding-top:19px;
    }

    .source-entry p {
        text-transform: uppercase;
        color: #fff;
        font-size:12px;
        line-height:12px;
    }

    .source-entry p.label {
        line-height:14px;
    }

    /* icons */
    .attack-indication {
        border:0;
        background: url("/src/assets/images/attack_indication_icon.gif");
        width:40px;height:41px;
    }
    .data-leakage {
        border:0;
        background: url("/src/assets/images/data_leakage_icon.gif");
        width:40px;height:41px;
    }
    .phishing {
        border:0;
        background: url("/src/assets/images/phishing_icon.gif");
        width:40px;height:41px;
    }
    .brand-security {
        border:0;
        background: url("/src/assets/images/brand_security_icon.gif");
        width:40px;height:41px;
    }    
    .exploitable-data {
        border:0;
        background: url("/src/assets/images/exploitable_data_icon.gif");
        width:40px;height:41px;
    }  
    .vip {
        border:0;
        background: url("/src/assets/images/vip_icon.gif");
        width:40px;height:41px;
    }      

    .clearfix:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }        